root = true

[*.{kt, java, xml, gradle, md}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
ij_continuation_indent_size = 2
# Disable star imports
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_import_nested_classes = false
ij_kotlin_packages_to_use_import_on_demand = unset